<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Framework 2f4">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory="coverage/cache">
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
        </exclude>
        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage/html"/>
        </report>
    </coverage>
</phpunit>